@use "../../styles/abstracts/variables/colors";
.button-component-wrapper {
  position: relative;
  .btn {
    margin: 1em auto;
    padding: 1.5em;
    border-radius: 1em;
    border: none;
    width: 100%;
    height: 67px;
    color: colors.$white;
    cursor: pointer;
    transition: 0.5s;
    opacity: 1;
    &:hover {
      opacity: 0.6;
    }
  }
  .btn-icon {
    top: 2.3em;
    left: 5em;
    position: absolute;
  }
}
